

.alex::before{
content: "—Alex Chen/The Diamondback";
font-family: 'Libre Franklin', sans-serif;
font-size: 9px;
display: block;
text-align: right;
text-transform: uppercase;
}

.gabby::before{
content: "—Gabby Baniqued/The Diamondback";
font-family: 'Libre Franklin', sans-serif;
font-size: 9px;
display: block;
text-align: right;
text-transform: uppercase;
}